footer {
  padding-top: 5rem;
  background-color: #e5e5e5;
  text-align: center; }
  footer .col-md-12 {
    margin-bottom: 1.875rem; }
    footer .col-md-12 a {
      display: inline-block;
      padding: 0.625rem 0;
      width: 3.125rem;
      background-color: #c2c2c2;
      margin-right: 1rem;
      margin-left: 1rem; }
    footer .col-md-12 a:hover, footer .col-md-12 a:active {
      background-color: #516fad; }
