header {
  height: 8.125rem;
  background-color: #292929; }
  header .row {
    height: 100%;
    text-align: center; }
    header .row .logo {
      color: #ffffff;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: -0.05rem; }
    header .row .logo a:first-child::after {
      transform: translateY(2.0625rem); }
    header .row .col-md-1 {
      color: #ffffff;
      font-family: Lato;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.05rem; }
    header .row a {
      color: #fff;
      text-decoration: none;
      outline: none; }
    header .row a:hover, header .row a:active {
      color: #58c93a; }
      header .row a:hover::after, header .row a:active::after {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 0.25rem;
        background-color: #58c93a;
        transform: translateY(3.1875rem); }
