@import url(blocks/bootstrap4/bootstrap-grid.min.css);
@import url(blocks/bootstrap4/bootstrap-reboot.min.css);
html {
  font-family: Lato; }

.title {
  color: #4f4e4e;
  font-family: Lato;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 0.0525rem; }

.text {
  color: #606060;
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.03rem;
  white-space: pre-line; }

a {
  cursor: pointer; }

.about .row .col-md-12:last-child, .contact .row .col-md-12:last-child {
  padding: 1.25rem 0;
  margin-right: 0;
  margin-left: 0;
  border-top: 0.125rem solid #c2c2c2; }
  .about .row .col-md-12:last-child a, .contact .row .col-md-12:last-child a {
    padding: 0; }
  .about .row .col-md-12:last-child button, .contact .row .col-md-12:last-child button {
    width: auto;
    border: 0;
    color: #818181;
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px; }
  .about .row .col-md-12:last-child button:active, .about .row .col-md-12:last-child button:focus, .about .row .col-md-12:last-child button:hover, .contact .row .col-md-12:last-child button:active, .contact .row .col-md-12:last-child button:focus, .contact .row .col-md-12:last-child button:hover {
    outline: none;
    color: #58c93a; }

.about .row .col-md-12 .col-md-12, .contact .row .col-md-12 .col-md-12 {
  margin-top: 5rem; }

.contact {
  color: #330101;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 0.0525rem; }
  .contact span {
    text-transform: lowercase; }
  .contact p {
    margin: 45px 0; }

header {
  height: 8.125rem;
  background-color: #292929; }
  header .row {
    height: 100%;
    text-align: center; }
    header .row .logo {
      color: #ffffff;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: -0.05rem; }
    header .row .logo a:first-child::after {
      transform: translateY(2.0625rem); }
    header .row .col-md-1 {
      color: #ffffff;
      font-family: Lato;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.05rem; }
    header .row a {
      color: #fff;
      text-decoration: none;
      outline: none; }
    header .row a:hover, header .row a:active {
      color: #58c93a; }
      header .row a:hover::after, header .row a:active::after {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 0.25rem;
        background-color: #58c93a;
        transform: translateY(3.1875rem); }

.posts {
  border: 0.125rem solid #c2c2c2; }
  .posts .col-md-12 {
    margin-top: 6.25rem; }
  .posts .title, .posts .text {
    margin-bottom: 1.875rem; }
  .posts .col-md-6 {
    padding-right: 0;
    padding-left: 0; }
  .posts button {
    cursor: pointer;
    width: 11.625rem;
    height: 2.5rem;
    border: 0.125rem solid #c2c2c2;
    background-color: #ffffff;
    color: #c2c1c1;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.03rem;
    border-radius: 2.5rem; }
  .posts button:active, .posts button:focus, .posts button:hover {
    outline: none;
    color: #58c93a;
    border-color: #58c93a; }
  .posts .col-md-12:last-child {
    margin-top: 5rem;
    padding: 1.25rem 0;
    margin-right: 0;
    margin-left: 0;
    border-top: 0.125rem solid #c2c2c2; }
    .posts .col-md-12:last-child a {
      padding: 0; }
    .posts .col-md-12:last-child button {
      width: auto;
      border: 0;
      color: #818181;
      font-family: Lato;
      font-size: 1.125rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.9px; }
    .posts .col-md-12:last-child button:active, .posts .col-md-12:last-child button:focus, .posts .col-md-12:last-child button:hover {
      outline: none;
      color: #58c93a; }

footer {
  padding-top: 5rem;
  background-color: #e5e5e5;
  text-align: center; }
  footer .col-md-12 {
    margin-bottom: 1.875rem; }
    footer .col-md-12 a {
      display: inline-block;
      padding: 0.625rem 0;
      width: 3.125rem;
      background-color: #c2c2c2;
      margin-right: 1rem;
      margin-left: 1rem; }
    footer .col-md-12 a:hover, footer .col-md-12 a:active {
      background-color: #516fad; }

@media (max-width: 1200px) and (min-width: 775px) {
  header .col-md-auto {
    width: 30%; } }

@media (max-width: 1200px) {
  header {
    height: auto; }
    header .row a:hover, header .row a:active {
      color: #58c93a; }
      header .row a:hover::after, header .row a:active::after {
        display: none; }
    header .row .col-md-1, header .row .col-md-auto {
      margin-bottom: 0.875rem; }
  .posts img {
    width: 100%;
    height: 100%; }
  .posts .title {
    margin-bottom: 0; } }
